# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual envs
.env/
.venv/
venv/
ENV/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp

# Qt / PyQt
*.qmlc
*.jsc

# Others
.envrc
